# Gradle
.gradle/
build/
common/.gradle/
common/build/
fabric/.gradle/
fabric/build/
*.class
!gradle/wrapper/gradle-wrapper.jar
.architectury-transformer/
.loom-cache-backup/
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db
Desktop.ini
*.log
*.tmp
release/
